<h2>Get Data from Server in Angular</h2>
<hr/><br/>
<table>
  <tr class="head">
    <th>Id</th>
    <th>Name</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Street</th>
    <th>Suite</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Phone</th>
    <th>Website</th>
  </tr>
  <tr *ngFor="let d of data">
    <td>{{d.id}}</td>
    <td>{{d.name}}</td>
    <td>{{d.username}}</td>
    <td>{{d.email}}</td>
    <td>{{d.address.street}}</td>
    <td>{{d.address.suite}}</td>
    <td>{{d.address.city}}</td>
    <td>{{d.address.zipcode}}</td>
    <td>{{d.address.geo.lat}}</td>
    <td>{{d.address.geo.lng}}</td>
    <td>{{d.phone}}</td>
    <td>{{d.website}}</td>
  </tr>
</table>